.bienvenida {
  font-size: larger;
  text-align: center;
  color: red;
  padding-top: 2%;
}

/* .itemList:hover {
  font-size: 250%;
  font-weight: bolder;
  background-color: rgb(205, 138, 181);
  color: rgb(37, 32, 33);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transform: translate(0px, 50px);
  transition: all 3s ease-in-out;
  
} */

.itemList {
  background: linear-gradient(to bottom right, rgb(243, 233, 97), rgb(248, 244, 206));
}

body {

  background: linear-gradient(to bottom right, rgb(243, 233, 97), rgb(248, 244, 206));
  
}

.card {
  
  display: flex;
    justify-content: space-around;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;

  

}

.producto-cards {
  background: linear-gradient(to bottom right, rgb(243, 233, 97), rgb(248, 244, 206));
  display: flex;
  justify-content: space-around;
  
  
  
}

.loader {
 
 margin-left: 150%;
}









