.CartWidget {

display: flex;
justify-content:end;
padding-right: 2%;
padding-bottom: 1%;
padding: top 1%;
 background: linear-gradient(to bottom right, rgb(243, 233, 97), rgb(248, 244, 206));
color: rgb(227, 11, 11);

    
}