.DolceVita {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}


.h1 {
    background-color: rgb(211, 226, 175);
    color: rgba(0, 0, 0, 0.699);
    text-align: center;
    border-radius: 10%;
    padding: 2%;
}

.subtitle {
    color: rgb(194, 67, 131);
}

.header {
    background: linear-gradient(to bottom right, rgb(243, 233, 97), rgb(248, 244, 206));
}