.imagenCarrito {
    width: 30%;
}

.img-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: dimgrey;
     
    
}

.imagen-carrito.p-5 {
width: 25%;
display: flex;
justify-content: center;
}

.imagen-carrito2 {
    width: 25.5%;
    }

    .botones-carrito {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .botones {
        display: flex;
        flex-direction: row;
        justify-content: space-around

    }

    .cards-carrito {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }



